body{
    font-family: 'Roboto', sans-serif;
    background: #150e2f;
    
}
html{
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media (max-width: 480px){
    html{
        overflow-y: visible;
    }
}